*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
body{
    height:100vh;
    width:100%;
    background-color: rgb(80, 161, 134);
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    height:200px;
    width:500px;
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: grey;
    border-radius:10px;    
    box-shadow:2px 2px 6px black;

}
.input-field{
    margin-bottom:20px;
    width:300px;
    height:34px;
    cursor: pointer;
    border-radius:5px;
    font-size:18px;
}
.content{
    height:200px;
    width:500px;
    padding:10px;
    font-weight:700;
    display:flex;
    flex-direction: column;
    align-items:center;

}
.result-details{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    align-items:center;
    padding:10px;
    list-style:none;
    color:orange;
    width:70vh;
    
}   
#btn{
    height:30px;
    width:80px;
    border-radius:5px;
    border:none;
    cursor: pointer;
    font-weight:550;
    color:green;
    box-shadow: 2px 2px 4px black;
}
.typing-text p span{
    position: relative;
    font-size:20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.typing-text p  span.correct{
    color:rgb(45, 189, 45);
}
.typing-text p  span.incorrect{
    color:rgb(225, 64, 64);
    background-color:rgb(180, 165, 167);
    border-radius:4px;
}

@media (max-width: 678px) {
    .card {
     width:40vh;
    }
    .content{
        width:40vh;

    }
    .result-details{
        width:40vh;
        font-size:12px;
    }
    .input-field{
        width:250px;
        height:20px;
    }
    #btn{
       height:25px;
       width:70px;
       font-size:12px;
    }
    
}
